{% extends 'base.html' %}
{% load l10n %}
{% load humanize %}

{% block stylesheet %}
<link rel="stylesheet" type="text/css" href="/static/admin/css/base.css">
<style type="text/css">
th.paid {
    padding: 5px 3em;
}
td, th {
    text-align: center;
}
span.submit {
  background: #79aec8;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
}
span.error {
  color: red;
}
input.amount {
  width: 4em;
}
tfoot tr td {
    color: black;
}
</style>
{% endblock %}

{% block title %}
Late Loans
{% endblock %}

{% block content %}
        <div id="content">
        <h1>
            Late Loans
        </h1>
        <form method="get" action="/loans/late-loans/">
            <div class="form-group">
              <div class="row">
                <div>
                    <div class="col-md-3 col-sm-3 col-xs-6">
                        <label for="end_date">Start Date:</label>
                        <div class="input-group date" data-provide="datepicker">
                            <input type="text" class="form-control" name="start_date">
                            <div class="input-group-addon">
                                <span class="glyphicon glyphicon-th"></span>
                            </div>
                        </div>
                    </div>
                </div>

                <div>
                    <div class="col-md-3 col-sm-3 col-xs-6">
                        <label for="end_date">End Date:</label>
                        <div class="input-group date" data-provide="datepicker">
                            <input type="text" class="form-control" name="last_date">
                            <div class="input-group-addon">
                                <span class="glyphicon glyphicon-th"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <button type="submit" class="btn btn-success">Submit</button>
                </div>
                
              </div>
            </div>
        </form>





{% if late_loans %}
    <table border="1px">
        <thead>
        <tr>
            <th>#</th>
            <th>Agent</th>
            <th>borrower</th>
            <th>Loan requested on</th>
            <th>Original Loan Amount</th>
            <th>Contract#</th>
            <th>Is Subscription</th>
            <th>Total Loan Outstanding</th>
            <th>Accumulated Penalties</th>
            <th>Total Late Days</th>
            <th>Last Payment Date</th>
            <th>PAR Category</th>
            <th>Notes Section</th>
        </tr>
        </thead>
        <tbody>
        {% for l in late_loans %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ l.obj.borrower.agent.name }}</td>
            <td><a href="{% url 'admin:borrowers_borrower_change' l.obj.borrower.pk %}">{{ l.obj.borrower.name_en }} - {{ l.obj.borrower.name_mm }}</a></td>
            <td>{{ l.obj.uploaded_at|date:"d M y" }}</td>
            <td>{{ l.obj.loan_amount|floatformat }}</td>
            <td><a href="{% url 'admin:loans_loan_change' l.obj.pk %}">{{ l.obj.contract_number }}</a></td>
            <td>{{ l.obj.is_subscription }}</td>
            <td>{{ l.obj.total_outstanding|floatformat|default:'0' }}</td>
            <td>-</td>
            <td>{{ l.total_days_late }}</td>
            <td>{{ l.obj.latest_repayment_date }}</td>
            <td>{{ l.par_category }}</td>
            <td>{{ l.obj.comments }}</td>

        </tr>
        {% endfor %}
        </tbody>
        <tfoot>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>TOTAL</td>
            <td>{{ total_outstanding|floatformat|default:'0' }}</td>
        </tr>
        </tfoot>
    </table>
{% else %}
    <p>No loan request.</p>
{% endif %}

        </div>
{% endblock %}

{% block javascript %}
<script type="text/javascript">
    $('#datetimepicker20').datepicker();
    $('#datetimepicker21').datepicker();

</script>
{% endblock %}
